
<mat-card>
  <h3 style="display: flex; justify-content: center; align-items: center; font-weight: bold; color: indigo; font-size: 3rem;">Life Copilot</h3>
  <br>
<mat-card style="display: flex; justify-content: center; align-items: center;">
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>what are willing to do? </mat-label>
        <input
          matInput
          placeholder="your action here"
          [(ngModel)]="actionInput"
          name="actionInput"
        />
      </mat-form-field>
      <button mat-icon-button (click)="onButtonAdd()" style="margin-left: 15px;"  class="custom-button-add">
        <mat-icon class="custom-icon-add">add</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<br>
<table
  mat-table
  [dataSource]="dataSource.filteredData"
  class="mat-elevation-z8"
>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
     Mark as done
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
      [checked]="row.isDone"
      (change)="toggleTodoSelection(row)"
        
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="ref">
    <th mat-header-cell *matHeaderCellDef>Ref</th>
    <td mat-cell *matCellDef="let element; let i = index">
      {{ i + 1 }}. {{ element.position }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="selectedRow === element; else displayDescription">
        <!-- Edit mode -->
        <input [(ngModel)]="element.description" />
      </ng-container>
      <ng-template #displayDescription>
        <!-- Display mode -->
        {{ element.description }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
      <button mat-icon-button *ngIf="selectedRow !== element" (click)="onButtonEdit(element)" class="custom-button-edit">
        <mat-icon class="custom-icon-edit">edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="selectedRow === element" (click)="onButtonSave(element)" class="custom-button-edit">
        <mat-icon class="custom-icon-edit">save</mat-icon>
      </button>
      <button mat-icon-button (click)="onButtonDelete(element)" class="custom-button-remove">
        <mat-icon class="custom-button-remove">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selection.toggle(row)"
  ></tr>
</table>
</mat-card>